go 1.21.3

use (
	./1441-build-an-array-with-stack-operation
	./1503-last-moment-before-all-ants-fall-out-of-a-plank
	./2-add-two-numbers
	./2265-count-nodes-equeal-to-average-of-subtree
	./2659-make-array-empty
	./501-find-mode-in-binary-search-tree
)
